/* ---------------------------------------------------------
Animation de la page d'accueil
------------------------------------------------------------*/

.animation div {
    //transform: translateX(1000px);
    animation: anim-entete 1s both cubic-bezier(0, 1.08, 1, 1.17);
}

@keyframes anim-entete {
    0% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0);
    }
}

$columns: 5;

@for $i from 1 through $columns {
    .animation div:nth-of-type(#{$i}) {
        animation-delay: .5*$i#{s};
    }
}

/* ---------------------------------------------------------
Animation de la section principale
------------------------------------------------------------ */
@include desktop {
    $columns: 5;

    @for $i from 1 through $columns {
        .principal h3:nth-of-type(#{$i}) {
            animation : anim-#{$i} 1s .5*$i#{s} both cubic-bezier(0, 1.08, 1, 1.17);
        }
    }

    $tabTranslate: (1: translateY(-500px),
        2: translateY(-600px),
        3: translateX(-500px),
        4: translateY(600px),
        5: translateY(500px));

    @each $i,
    $elem in $tabTranslate {
        @keyframes anim-#{$i} {
            0% {
                transform: $elem scale(0);
            }

            100% {
                transform: translate(0) scale(1.3);
            }
        }
    }
}