$couleur_desktop: #0f4da8;
$couleurs : (
    primaire : $couleur_desktop,
    fonce :  darken($couleur_desktop, 40%),
    text:#fff6bb,
    primaire_pale : lighten($couleur_desktop, 40%)
    );


@function couleur($propriete){
    @return map-get($couleurs, $propriete);
}


